*, *::before, *::after {
  box-sizing: border-box;
}
  
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

img {
  max-width: 100%;
}

.advantages {
  background-color: #495463;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: space-between;
  height: max-content;
  padding-bottom: 2em;
}

.advantages-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 85%;

  gap: 2rem;
  text-align: center;
}

.adv-img-container img{
  height: 10em;
  width: 10em;
  
}

.advantages h1 {
  font-size: 2.2em;
  font-weight: 900;
  color: var(--TextBlue);
  margin: 2rem 0;
  text-align: center;
  text-shadow: -0.2em 0.1em 0.2em black;
  text-decoration-line: overline;
}

.advantages h3{
  font-size: 1.6em;
  color: #141414;
  text-shadow: 0.2em 0.1em 0.2em rgb(211, 187, 149);

}

.adv-img-container {
  width: 160px;
  margin: auto;
}

.advantages img {
  border: 3px solid #3882F6;
  border-radius: 10px;
}

.advantages p {
  margin: .5em 0 1.5em 0;
}