*, *::before, *::after {
  box-sizing: border-box;
}
  
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

a:hover, button:hover{
  cursor: pointer;
}

img {
  max-width: 100%;
}

header {
  width: 100%;
  background-color: #37475f;
  position: fixed;
  height: 5em;
  top: 0;
}

nav {
  width: 100%;
  max-width: 1000px;
  padding: 0.5em 0;
  margin: 0 auto;
}

nav a {
  font-size: 1.2em;
  color: #E5E7Eb;
  text-decoration: none;
  transition: all ease-in-out 0.2s;
  text-shadow: -0.2em 0.1em 0.2em black;
}

nav a:hover{
  color: var(--TextBlue);
}

nav ul li{
  transition: all ease-in-out 0.2s;
  padding: 0 1em;
}

nav ul li:hover{

filter: brightness(125%);
  transform: translateY(0.1em);
}

header nav p {
  font-size: 1.8em;
  text-align: left;
  margin: 0;
  font-weight: 800;
  transform: translateX(-1.2em);
  text-shadow: 0.2em 0.1em 0.2em rgb(211, 187, 149);
}

nav ul {
  list-style: none;
  padding-left: 0;
}

nav li {
  margin-bottom: .5em;
}

nav li:last-child {
 margin-bottom: 0;
}

@media (min-width: 600px) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav ul {
    display: flex;
    align-items: center;
    gap: 1em;
  }

  nav li {
    margin-bottom: 0;
  }
}