@font-face{
font-family: Medival;
src: url(Fonts/AlegreyaSC-Medium.ttf);
}

:root{
font-size: 62.5%;
scroll-behavior: smooth;
--DarkPurple: #650f74;
--LightPurple: #803b8c;
--TextBlue: rgb(61, 103, 192);
--TextCian: rgb(148, 252, 252);
}

body{
background-color: #1e1e1e;
background-image: linear-gradient(to bottom right, #060606, rgb(115, 115, 121));
background-repeat: no-repeat;
}

.wrapper-main{
width: 140rem;
margin: 0 auto;
}

a{ 
cursor: pointer;
font-size: 1.4rem;
line-height: 4.6rem;
font-family: Medival;
color: var(--TextCian);
text-shadow: -0.4rem 0.2rem 0.4rem #000;
}

p{
font-size: 2rem;
line-height: 1.75;
font-family: Calistoga;
color: var(--TextBlue);
text-shadow: -0.4rem 0.2rem 0.4rem #000;
}

.header-main{
width: 100%;
height: 6rem;
padding: 0 6rem;
background-color: #fff;
display: flex;
justify-content: space-between;
position: fixed;
top: 0;
z-index: 100;
}

.header-main nav{
display: flex;
}

.header-main .logo{
height: 4rem;
width: fit-content;
align-self: center;
cursor: pointer;
transform: translateX(-1rem);
}

.header-main .logo img{
height: 100%;
}

.header-main ul{
height: 100%;
padding-left: 4rem;
list-style: none;
display: flex;
align-self: center;
}

.header-main ul li{
position: relative;

}

.header-main ul li a{
display: block;
padding: 0 2rem;
height: 100%;
line-height: 3;
font-size: 2rem;
font-family: Medival;
text-decoration: none;
color: #000000;
background-color: rgb(223, 214, 214);
text-transform: uppercase;
cursor: pointer;
transition: all ease-in-out 150ms;
}

.header-main ul li a:hover{
background-color: #2a2a2a;
color: #fff;
}

/* DROPDOWN START */

.header-main ul li ul{
visibility: hidden;
opacity: 0;
display: none;
position: absolute;
left: -4rem;
transition: all ease-in-out 150ms;
}

.header-main ul li ul li a{
white-space: nowrap;
}

ul li:hover>ul {
visibility: visible;
opacity: 1;
display: block;
}

/*DROPDOWN STOP*/