/* BoilerPlate */
html {
  font-size: 16px; /* Ensure 1rem equals 16px */
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

img {
  max-width: 100%;
  max-height: 100%;
}

a {
  text-decoration: none;
}

/* Header */
header {
  background-color: var(--primary-background-color);
}

nav {
  width: 85%;
  padding: 1rem 0;
  margin: 0 auto;
}

nav a {
  font-size: var(--font-size-quaternary);
  color: var(--secondary-text-color);
}

.logo {
  text-decoration: none;
  display: block;
  font-size: var(--font-size-tertiary);
  text-align: center;
  margin: 0;
}

nav ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  gap: 3rem;
}

nav li {
  margin-bottom: 0.5rem;
}

nav li:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
  }

  nav ul {
    margin-top: 1rem;
  }

  nav li {
    margin-bottom: 0;
  }
}

/* Footer */
