.contacts h1 {
  margin: 3.5rem;
  text-align: center;
}

.contacts h3 {
  font-size: var(--font-size-tertiary);
  color: var(--primary-background-color);
  text-align: center;
}

.contacts-main-box p {
  font-size: var(--font-size-quaternary);
  color: var(--tertiary-text-color);
  text-align: center;
}

.contacts-main-box {
  background-color: var(--secondary-text-color);
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 1rem 2rem 2rem 2rem;
  border-radius: 0.625rem;
  box-shadow: 0 1px 10px var(--primary-background-color);
}

.adress-map-box {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts img {
  width: 70%;
  margin: 1rem auto;
  border-radius: 0.625rem;
  border: 2px solid white;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form label {
  display: block;
  font-size: var(--font-size-quaternary);
  color: var(--tertiary-text-color);
  text-align: center;
  margin-bottom: .5em;
}

form input, textarea {
  width: 80%;
  max-width: 600px;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.625rem;
  box-shadow: 0 1px 10px var(--primary-background-color);
  overflow: auto;
  outline: none;
  font-size: var(--font-size-quaternary);
  color: var(--tertiary-text-color);
}

textarea {
  height: 7rem;
  resize: none;
  padding: 1em 1em;
  font-family: Roboto, sans-serif;
}

form input:focus, textarea:focus {
  border:1px solid var(--tertiary-text-color);
}

@media(min-width: 900px) {
  .adress-map-box {
    width: 80%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto 2rem auto;
  }

  .contacts-main-box p {
    text-align: left;
    margin-top: 0;
  }

  .contacts img {
    max-width: 300px;
    margin: 0;
  }
}